@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to ReallySimpleRecipes</h1>
    <h4><p>Click <a class = "" asp area= "" asp-page="/Recipes/Index">this link</a> to see all of our recipes!</p></h4>
</div>
